<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="/public/styles.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"
    ></script>
    <title>Import, Jira</title>
  </head>

  <body>
    <%- include("../navbar.ejs", {active: "" , dataSet: {}}) %>
    <div class="container">
      <div class="hero-body">
        <h1 class="title">Import from Jira</h1>
        <h3 class="subtitle">
          Bring all cards relevant to your team using Jira's query language
          (JQL)
        </h3>
      </div>

      <% if (errors.length > 0) { %>
      <div class="notification is-danger is-light">
        <button class="delete"></button>
        <ul>
          <% errors.forEach(function(error) { %>
          <li><%- error.title %></li>

          <% if ((error.invalidParams || []).length > 0) {
          error.invalidParams.forEach(function(params) { %>
          <li><%- params.name %>: <%- params.reason %></li>
          <% }); %> <% } %> <% }) %>
        </ul>
      </div>
      <% } %>

      <section class="section">
        <form
          action="/import/jira"
          method="post"
        >
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input
                name="email"
                class="input"
                type="email"
                placeholder="youremail@yourorg.com"
                value="<%- data.email -%>"
                required
              />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">API Key</label>
            <div class="control has-icons-left has-icons-right">
              <input
                name="token"
                class="input"
                type="password"
                value="<%- data.token -%>"
                required
              />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <p class="help">
                Create one going to:
                https://id.atlassian.com/manage-profile/security/api-tokens
              </p>
            </div>
          </div>

          <div class="field">
            <label class="label">Host</label>
            <div class="control has-icons-left has-icons-right">
              <input
                name="host"
                class="input"
                type="url"
                placeholder="https://company-name.atlassian.net"
                value="<%- data.host -%>"
                required
              />
              <span class="icon is-small is-left">
                <i class="fas fa-link"></i>
              </span>
              <p class="help">
                Typically it looks like the following:
                https://<strong>company-name</strong>.atlassian.net
              </p>
            </div>
          </div>

          <div class="field">
            <label class="label">JQL</label>
            <div class="control">
              <textarea
                name="jql"
                class="textarea"
                placeholder="JQL"
                value="<%- data.jql -%>"
                required
              >
jql</textarea
              >
            </div>
          </div>

          <div class="field">
            <label class="label">Start Status</label>
            <div class="control">
              <input
                name="startStatus"
                class="input"
                type="text"
                value="in progress"
                placeholder="In progress"
                value="<%- data.startStatus -%>"
                required
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Finish Status</label>
            <div class="control">
              <input
                name="finishStatus"
                class="input"
                type="text"
                value="done"
                placeholder="done"
                value="<%- data.finishStatus -%>"
                required
              />
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button
                type="submit"
                class="button is-link"
              >
                Import
              </button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Back</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      (document.querySelectorAll(".notification .delete") || []).forEach(
        ($delete) => {
          const $notification = $delete.parentNode;

          $delete.addEventListener("click", () => {
            $notification.parentNode.removeChild($notification);
          });
        },
      );
    });
  </script>
</html>
