<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="<%- dataSet %>">
            <h1 class="title has-text-light">Team Metrics</h1>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <% if (active === "dashboard") { %>
                <a class="navbar-item is-active" href="#">
            <% } else { %>
                <a class="navbar-item" href="/data/<%- dataSet %>/dashboard">
            <% } %>
            Dashboard</a>

            <% if (active === "cycleTime") { %>
                <a class="navbar-item is-active" href="#">
            <% } else { %>
                <a class="navbar-item" href="/data/<%- dataSet %>/cycletime">
            <% } %>
            Cycle Time</a>

            <% if (active === "throughput") { %>
                <a class="navbar-item is-active" href="#">
            <% } else { %>
                <a class="navbar-item" href="/data/<%- dataSet %>/throughput">
            <% } %>
            Throughput</a>

            <% if (active === "progress") { %>
                <a class="navbar-item is-active" href=#">
            <% } else { %>
                <a class="navbar-item" href="/data/<%- dataSet %>/progress">
            <% } %>
            Progress</a>

            <% if (active === "forecast") { %>
                <a class="navbar-item is-active" href="#">
            <% } else { %>
                <a class="navbar-item" href="/data/<%- dataSet %>/forecast">
            <% } %>
            Forecast</a>
        </div>
    </div>
</nav>